<div class="container">
  <h3>Sincronizar multimedia</h3>
  <hr>

  <div class="row">
    <div class="form-group col-xs-12 col-md-3">
      <select class="form-control" [(ngModel)]="multimedia.tipoDetalle" (change)="onChangeTipoDetalle($event)" placeholder="Seleccionar tipo de detalle">
        <!-- <option disabled selected [ngValue]="connection.idFormulario">Seleccionar Formulario</option>  -->
       <option *ngFor="let tipoDetalle of tipoDetalles" [ngValue]="tipoDetalle">{{tipoDetalle.nombre}}</option>
     </select>
    </div>
    <div class="form-group col-xs-12 col-md-4">
        <select class="form-control" [(ngModel)]="multimedia.conexion" (change)="onChangeConexion()">
          <!-- <option disabled selected [ngValue]="connection.idFormulario">Seleccionar Formulario</option>  -->
         <option *ngFor="let connection of connections" [ngValue]="connection">{{connection.nombre}}</option>
       </select>
    </div>
    <!-- <div class="form-group col-xs-12 col-md-5"> -->
      <p-calendar [(ngModel)]="dateValue"  [disabled]="multimedia.conexion['id']==undefined" inputStyleClass="form-control" styleClass="form-group col-xs-12 col-md-5" (onSelect)="onSelectDates($event)" placeholder="Seleccione rango de fechas" selectionMode="range" dateFormat="dd-mm-yy"></p-calendar>
    <!-- </div> -->
    <div class="form-group col-xs-12 col-md-12">
      <textarea  [(ngModel)]="multimedia.descripcion" placeholder="Descripción" class="form-control"></textarea>
    </div>
    <br>
    <br>
    
    <div class="col-xs-12 col-md-12">
        <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Ingrese la fecha ó usuario">
          </div>
      <p-dataTable [value]="actividades" [rows]="5" selectionMode="single" [(selection)]="actividad" (onRowSelect)="onRowSelect($event)" [paginator]="true" [globalFilter]="gb" #dt >
        <p-column field="IdActividad" header="Id"></p-column>
        <p-column field="NombreFormulario" header="Formulario"></p-column>
        <p-column field="LocationName" header="Locación"></p-column>
        <p-column field="Usuario" header="Usuario"  (onChange)="gb.filter($event.value,col.field,col.filterMatchMode)"></p-column>
        <p-column field="FechaCreacion" header="Fecha" (onChange)="gb.filter($event.value,col.field,col.filterMatchMode)"></p-column>
    </p-dataTable>
    <br>
    <br>
    </div>
    
    
    
  </div>

  <div class="row">
    <div class="form-group col-xs-12 col-md-12">
      <p-fileUpload chooseLabel="Escoger" accept="{{acceptFileUpload}}" 
      (onError)="onError($event)" (onClear)="onClear($event)" (onRemove)="onRemove($event)" (onSelect)="onSelect($event)"
       cancelLabel="Cancelar" multiple="multiple" showUploadButton #fileInput>
      </p-fileUpload>
    </div>
  </div>
  <div class="clearfix"></div>
  <hr>
  <button class="btn btn-success" (click)="!cargando && syncMultimedia()" [ngClass]="{disabled : cargando}">Sincronizar</button>
  <br>
  <br>
  <br>
</div>
<!-- <p-growl  [styleClass]="ui-growl ui-growl-container"></p-growl> -->
<p-growl [(value)]="msgs">
  <div class="ui-growl ui-widget" style="z-index: 1120 !important;opacity: 1.104;">
          <!---->
      </div>
</p-growl>